.SolderedCoolers{
    margin-top: 20px;
    max-height: 900px;
    display: grid;
    grid-template-rows: 1.5fr 1fr 18fr;
    }
.SolderedCoolersWrap{
    display: grid;
    grid-template-rows: auto;
    background-color: grey;
    align-items: center;
    justify-items: center;
    grid-gap: 20px;
}
.cooler{
    display: grid;
    grid-template-columns: 2fr 8fr;
    width: 75%;
    height: 100%;
    background-color: aliceblue;
    border-radius: 5px;
    text-decoration:underline;
    align-items: center;
    
}
.cooler_img{
    width: 150px;
    height: 200px;
    grid-column: 1/2;
}
.description{
    grid-column: 2/3;
    width: 95%;
    border-radius: 5px;
    /* background-color: rgba(111, 111, 111, 0.5); */
    margin: 10px;
    color: black;
    display: grid;
    grid-template-rows: 50px 40px auto;
    
}

.p_description{
    grid-row: 3/4;

}


.header_description{
    grid-row: 2/3;
   
    color: #E60020;
    font-family: Arial, Helvetica, sans-serif;
    
}

.description_series{
grid-row: 1/2;
}